body {
    background-color: #5555DD;
}
div#ContentDiv {
    background-color: #DDDDFF;
    height: auto;
    width: 90%;
    height: 97vh;
    min-height: 100px;
    overflow-y:auto;
    margin:auto;
    border-radius: 20px;
    padding: 0px;
}
div#NavDiv {
    background-color: #22BBBB;
    min-height: 30px;
    width: 100%;
    text-align: center;
    position:center;
}
div#NavDiv ul {
    padding: 0;
    margin: 0;
    margin-top: -5px;
    list-style-type:none;
}
div#NavDiv ul li {
    width: 30%;
    margin-top: -5px;
    height: 50px;
    padding: 0px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
}
div#NavDiv ul li a {
    background-color: #22BBBB;
    color: #FFFFFF;
    display: inline-block;
    width: inherit;
    height: inherit;
    padding-top:10px;
    text-align:center;
    font-size: 25px;
    font-family:Britannic;
    text-decoration:none;
}
div#NavDiv ul li a:hover{
    background-color: #FFFFFF;
    color: #000000;
}
div#ButtonDiv {
    margin: auto;
}
.dataButton {
    margin:auto;
}